body{
    display:flex; 
    font-family: Times; 
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    min-height: 100vh; 
    background-color: pink; 
    padding: 80 px; 
}
 .nav{
    display: flex; 
    width: 100%; 
    justify-content: center;
    padding: 10px;
 }

 .nav button {
    margin: 0 10px;
    padding: 10px 20px; 
    background-color: rgb(119, 208, 144);
    border: none; 
    font-family: Times; 
    color: whitesmoke; 
    font-size: 15px;
     
 }

 .nav button:hover{
    background-color: #ddd
 }

 .middle{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    flex: 1; 
 }
 
 .my-picture img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:cover; 
    border: 2px solid #ddd; 
    box-shadow: 0 4px 8px rgb(28, 0, 0)
 }

 .resume button{
    padding: 10px 20px; 
    font-size: 16 px; 
    font-family: Times; 
    background-color: rgb(119, 208, 144);
    cursor: pointer; 
    color: whitesmoke; 
    border: none; 
    margin-bottom: 20px; 
 }
 .resume button:hover {
    background-color: #ddd;
 }

 .social-media ul{
    display: flex; 
    list-style: circle; 
    gap: 20px;
    padding:0; 

 }

 .social-media li{
    padding: 10px; 
    background-color: rgb(119, 208, 144); 
    color: white;
    font-size: 16px; 
    cursor: pointer
 }
 .social-media li:hover {
    background-color: #ddd;
 }
 .about{
    padding: 10px; 
    display: flex; 
    font-size: 25px; 
    color: whitesmoke; 
 }
 .message-me{
    margin-top: 20px; 
 }

 .message-me button{
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: rgb(119, 208, 144);
    color: white; 
    border: none
 }

 .message-me button:hover {
    background-color: #4caf50;
}